.skeleton_card::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.15);
	animation: skeleton_animation 1.4s ease-out infinite;
}

@keyframes skeleton_animation {
	100% {
		left: 385px;
	}
}
