.gallery__image {
	height: 400px;

	/* &.image-gallery-slide div {
		height: 100%;

		img {
			height: 100%;
			object-fit: cover;
		}
	} */
}

.gallery__thumbnail {
}

.image-gallery-thumbnails-container {
	padding: 0 5px;
}
